modules/abstraction-common/schema/cog/fileTransferSpecification.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:element name = "fileTransferSpecification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "source" type = "xsd:string"/>
				<xsd:element name = "destination" type = "xsd:string"/>
				<xsd:element name = "thirdParty" type = "xsd:boolean" minOccurs = "0"/>
				<xsd:element ref = "attributeList" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>