modules/abstraction-common/schema/cog/task.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "specification.xsd"/>
	<xsd:include schemaLocation = "serviceList.xsd"/>
	<xsd:include schemaLocation = "identity.xsd"/>
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:element name = "task">
		<xsd:annotation>
			<xsd:documentation>Representation of the abstract Java CoG Kit Task object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "identity" minOccurs = "0"/>
				<xsd:element name = "name" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "type" type = "xsd:string"/>
				<xsd:element name = "provider" type = "xsd:string" minOccurs = "0"/>
				<xsd:element ref = "serviceList" minOccurs = "0"/>
				<xsd:element ref = "specification" minOccurs = "0"/>
				<xsd:element ref = "attributeList" minOccurs = "0"/>
				<xsd:element name = "status" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "submittedTime" type = "xsd:dateTime" minOccurs = "0"/>
				<xsd:element name = "completedTime" type = "xsd:dateTime" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>