src/cog/modules/provider-gt4_0_0/resources/config/gt4_0_0/share/schema/core/samples/authzService/authzService_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AuthorizationService" targetNamespace="http://wsrf.globus.org/samples/authzService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/samples/authzService" xmlns:gtwsdl0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI" xmlns:authz="http://www.gridforum.org/namespaces/2004/03/ogsa-authz/saml" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://www.gridforum.org/namespaces/2004/03/ogsa-authz/saml" location="../../security/authorization/authz_port_type.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://wsrf.globus.org/samples/authzService" xmlns:tns="http://wsrf.globus.org/samples/authzService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="valueType">
      <xsd:sequence>
        <xsd:element name="value" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="addDeclinedMethod" type="tns:valueType"/>
    <xsd:element name="addDeclinedMethodResponse">
	<xsd:complexType/>
    </xsd:element>
  <xsd:element name="AuthzServicePortTypeGTWSDLResourceProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="authz:supportsIndeterminate"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="authz:signatureCapable"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="authz:supportedPolicies"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="AddDeclinedMethodInputMessage">
    <part name="parameters" element="tns:addDeclinedMethod"/>
  </message>
  <message name="AddDeclinedMethodOutputMessage">
    <part name="parameters" element="tns:addDeclinedMethodResponse"/>
  </message>
  <portType name="AuthzServicePortType" wsrp:ResourceProperties="AuthzServicePortTypeGTWSDLResourceProperties">
    <operation name="addDeclinedMethod">
      <input message="tns:AddDeclinedMethodInputMessage"/>
      <output message="tns:AddDeclinedMethodOutputMessage"/>
    </operation>
    <operation name="SAMLRequest">
      <input message="authz:SAMLRequestInputMessage"/>
      <output message="authz:SAMLRequestOutputMessage"/>
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="gtwsdl0:GetResourcePropertyRequest"/>
      <output name="GetResourcePropertyResponse" message="gtwsdl0:GetResourcePropertyResponse"/>
      <fault name="InvalidResourcePropertyQNameFault" message="gtwsdl0:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault"/>
    </operation>
    <operation name="SetResourceProperties">
      <input name="SetResourcePropertiesRequest" message="gtwsdl0:SetResourcePropertiesRequest"/>
      <output name="SetResourcePropertiesResponse" message="gtwsdl0:SetResourcePropertiesResponse"/>
      <fault name="SetResourcePropertyRequestFailedFault" message="gtwsdl0:SetResourcePropertyRequestFailedFault"/>
      <fault name="InvalidResourcePropertyQNameFault" message="gtwsdl0:InvalidResourcePropertyQNameFault"/>
      <fault name="UnableToModifyResourcePropertyFault" message="gtwsdl0:UnableToModifyResourcePropertyFault"/>
      <fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault"/>
      <fault name="InvalidSetResourcePropertiesRequestContentFault" message="gtwsdl0:InvalidSetResourcePropertiesRequestContentFault"/>
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="gtwsdl0:QueryResourcePropertiesRequest"/>
      <output name="QueryResourcePropertiesResponse" message="gtwsdl0:QueryResourcePropertiesResponse"/>
      <fault name="UnknownQueryExpressionDialectFault" message="gtwsdl0:UnknownQueryExpressionDialectFault"/>
      <fault name="InvalidResourcePropertyQNameFault" message="gtwsdl0:InvalidResourcePropertyQNameFault"/>
      <fault name="QueryEvaluationErrorFault" message="gtwsdl0:QueryEvaluationErrorFault"/>
      <fault name="InvalidQueryExpressionFault" message="gtwsdl0:InvalidQueryExpressionFault"/>
      <fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault"/>
    </operation>
  </portType>
</definitions>
