src/cog/modules/provider-gt4_0_0/resources/config/gt4_0_0/share/schema/gram/managed_job_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ManagedJob" targetNamespace="http://www.globus.org/namespaces/2004/10/gram/job" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/10/gram/job" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:rdv="http://www.globus.org/namespaces/2004/09/rendezvous" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.globus.org/namespaces/2004/09/rendezvous" location="../rendezvous/rendezvous_port_type.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.globus.org/namespaces/2004/10/gram/job" xmlns:desc="http://www.globus.org/namespaces/2004/10/gram/job/description" xmlns:faults="http://www.globus.org/namespaces/2004/10/gram/job/faults" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:rpns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:tns="http://www.globus.org/namespaces/2004/10/gram/job" xmlns:types="http://www.globus.org/namespaces/2004/10/gram/job/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../ws/addressing/WS-Addressing.xsd"/>

            <xsd:import namespace="http://www.globus.org/namespaces/2004/09/rendezvous" schemaLocation="../rendezvous/rendezvous_types.xsd"/>

            <xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>

            <xsd:import namespace="http://www.globus.org/namespaces/2004/10/gram/job/faults" schemaLocation="managed_job_faults.xsd"/>

            <xsd:import namespace="http://www.globus.org/namespaces/2004/10/gram/job/description" schemaLocation="job_description.xsd"/>

            <xsd:import namespace="http://www.globus.org/namespaces/2004/10/gram/job/types" schemaLocation="managed_job_types.xsd"/>

            <!--==================================================-->
            <!--               resource properties                -->
            <!--==================================================-->

            <xsd:element name="managedJobResourceProperties" type="tns:ManagedJobResourcePropertiesType"/>
            <xsd:complexType name="ManagedJobResourcePropertiesType">
                <xsd:sequence>
                    <xsd:element ref="desc:serviceLevelAgreement"/>
                    <xsd:element ref="types:state"/>
                    <xsd:element ref="faults:fault"/>
                    <xsd:element ref="types:localUserId"/>
                    <xsd:element ref="types:userSubject"/>
                    <xsd:element ref="types:holding"/>
                
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:TerminationTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rdv:Capacity"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:CurrentTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rdv:RegistrantData"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rdv:RendezvousCompleted"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
            </xsd:complexType>

            <!--==================================================-->
            <!--                 notifications                    -->
            <!--==================================================-->

            <xsd:complexType name="StateChangeNotificationMessageType">
                <xsd:sequence>
                    <xsd:element ref="types:state"/>
                    <xsd:element minOccurs="0" ref="faults:fault"/>
                    <xsd:element ref="types:exitCode"/>
                    <xsd:element ref="types:holding"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="stateChangeNotificationMessage" type="tns:StateChangeNotificationMessageType"/>

            <xsd:complexType name="StateChangeNotificationMessageWrapperType">
                <xsd:sequence>
                    <xsd:element ref="tns:stateChangeNotificationMessage"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- release operation input and output types -->
            <xsd:element name="release" type="tns:ReleaseInputType"/>
            <xsd:complexType name="ReleaseInputType"/>
            <xsd:element name="releaseResponse" type="tns:ReleaseOutputType"/>
            <xsd:complexType name="ReleaseOutputType"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="releaseInputMessage">
    <wsdl:part name="parameters" element="tns:release"/>
  </wsdl:message>
  <wsdl:message name="releaseOutputMessage">
    <wsdl:part name="parameters" element="tns:releaseResponse"/>
  </wsdl:message>
  <wsdl:portType name="ManagedJobPortType" wsrp:ResourceProperties="tns:managedJobResourceProperties">
    <wsdl:operation name="release">
      <wsdl:input message="tns:releaseInputMessage" wsa:Action="http://www.globus.org/namespaces/2004/10/gram/job/release"/>
      <wsdl:output message="tns:releaseOutputMessage" wsa:Action="http://www.globus.org/namespaces/2004/10/gram/job/releaseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="rdv:RegisterInputMessage"/>
      <wsdl:output message="rdv:RegisterOutputMessage"/>
      <wsdl:fault name="rankTakenFault" message="rdv:rankTakenFaultMessage"/>
      <wsdl:fault name="capacityReachedFault" message="rdv:capacityReachedFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime"/>
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse"/>
      <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
      <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault"/>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
