cog/modules/abstraction-common/schema/cog/jobSpecification.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:element name = "JobSpecification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "executable" type = "xsd:string"/>
				<xsd:element name = "directory" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "arguments" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "stdOutput" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "stdInput" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "stdError" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "count" type = "xsd:integer" minOccurs = "0"/>
				<xsd:element name = "batchJob" type = "xsd:boolean" minOccurs = "0"/>
				<xsd:element name = "redirected" type = "xsd:boolean" minOccurs = "0"/>
				<xsd:element name = "localExecutable" type = "xsd:boolean" minOccurs = "0"/>
				<xsd:element ref = "attributeList" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>