src/cog/modules/abstraction-common/schema/cog/dependencyList.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "dependencyList">
		<xsd:annotation>
			<xsd:documentation>List of dependencies defined as "from" "to" pairs </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "dependency" minOccurs = "0" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:attribute name = "from" type = "xsd:string"/>
						<xsd:attribute name = "to" type = "xsd:string"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>