src/cog/modules/abstraction-common/schema/cog/service.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "identity.xsd"/>
	<xsd:include schemaLocation = "serviceContact.xsd"/>
	<xsd:include schemaLocation = "securityContext.xsd"/>
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:element name = "service">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "identity"/>
				<xsd:element name = "name" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "provider" type = "xsd:string"/>
				<xsd:element name = "type" type = "xsd:string" minOccurs = "0"/>
				<xsd:element ref = "serviceContact"/>
				<xsd:element ref = "securityContext" minOccurs = "0"/>
				<xsd:element ref = "attributeList" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>