src/cog/modules/abstraction-common/schema/cog/taskGraph.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "identity.xsd"/>
	<xsd:include schemaLocation = "task.xsd"/>
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:include schemaLocation = "dependencyList.xsd"/>
	<xsd:include schemaLocation = "attributeList.xsd"/>
	<xsd:element name = "taskGraph">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "identity" minOccurs = "0"/>
				<xsd:element name = "name" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "failureHandlingPolicy" type = "xsd:string" minOccurs = "0"/>
				<xsd:element ref = "task" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "taskGraph" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "dependencyList" minOccurs = "0"/>
				<xsd:element ref = "attributeList" minOccurs = "0"/>
				<xsd:element name = "status" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "submittedTime" type = "xsd:dateTime" minOccurs = "0"/>
				<xsd:element name = "completedTime" type = "xsd:dateTime" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>